@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/rocket';
@import '@skeletonlabs/skeleton-svelte';

@custom-variant dark (&:where(.dark, .dark *));

/* rocket theme */
[data-theme='rocket'] main {
    background-image:
        radial-gradient(
            at 0% 0%,
            color-mix(in oklab, var(--color-primary-500) 33%, transparent) 0px,
            transparent 30%
        ),
        radial-gradient(
            at 45% 10%,
            color-mix(in oklab, var(--color-success-500) 8%, transparent) 0px,
            transparent 45%
        ),
        radial-gradient(
            at 100% 0%,
            color-mix(in oklab, var(--color-error-500) 33%, transparent) 0px,
            transparent 25%
        );
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* CUSTOMIZATIONS */
@font-face {
    font-family: 'Jacquard 12';
    src: url('/fonts/Jacquard12-Regular.ttf');
}

.textarea {
    line-height: var(--typo-base--line-height);
}
